body{
    background-color: black;
    color: white;
    font-size: 1rem;
    
    
    width: 60%;
    margin-left: 20%;
    line-height: 25px;
}
h3{
    font-size: 0.9rem
}
h1{
    font-family: sans-serif;
}
img{
    border: solid black;
    border-radius: 100px;
}
.profile{
    line-height: 0.25px;
}
span{
    border: solid gray 2px;
    border-radius: 15px;
}
h2{
    margin-right: 50%;
    font-family: sans-serif;
}
.heading{
    text-align: center;
    line-height: 25px;
}
.blog{
    border: solid black;
    border-radius: 0px;
}